RewriteEngine On

RewriteCond %{HTTP_HOST} ^admin.*
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ /admin.php/$1 [L]

RewriteCond %{HTTP_HOST} ^mc.*
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]
